.col3-layout {
  @include media-breakpoint-up(md) {
    column-count: 2;
    column-gap: $grid-gutter-width;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
    column-gap: $grid-gutter-width;
  }
  img {
    @include media-breakpoint-down(lg) {
      margin-bottom: 1.5rem;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
