// $primaryrgb: rgba(204, 174, 146, 1);
// $primary: #ccae92;

// @import "bootstrap/scss/bootstrap";

// .megamenu{
//   background-color: #f7f7f7;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   .megamenu-item{
//     padding-top: 20px ;

//     img{
//       width: 250px;
//       height: 250px;
//       object-fit: cover;
//     }

//     .megamenu-item-header{
//       font-size: 22px;
//     }
//     .megamenu-subitem{
//       font-size: 22px;
//     }
//   }
// }


/*header {
  background-color: #fff;

  .container {
    position: relative;

    padding: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;

    .brand {
      justify-content: start;
    }

    .contact {
      display: block;
      justify-content: end;
      button {
        border: 1px solid transparent;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: white;
        background-color: #{$primary};
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: #{$primary};
          border: 1px solid #{$primary};
        }
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .mobile-nav {
      display: none;

      .open-menu {
        color: #fff;
        text-decoration: none;
        .navbar-toggler-icon {
          width: 1.5em;
          height: 1.5em;
          vertical-align: middle;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#{$primaryrgb}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          display: inline-block;
        }
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    .navbar {
      right: 3.3%;

      .menu {
        display: flex;
        list-style-type: none;
        justify-content: center;

        .menu-item {
          position: relative;

          a {
            display: block;
            color: #222;
            text-decoration: none;
            padding: 10px 25px;

            &:hover {
              color: #ff5858;
              background-color: #F7F7F7;
            }
          }

          &.has-sub-menu {
            > a {
              position: relative;

              &:after {
                // content: "+";
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                color: #fff;
                font-size: 18px;
                font-weight: 500;
              }

              &:hover {
                &:after {
                  color: #ff5858;
                }
              }
            }

            .sub-menu {
              position: absolute;
              z-index: 999;

              opacity: 0;
              // transform: translateY(-200px);
              pointer-events: none;
              transition: 0.4s ease-out;

              min-width: 100%;
              width: max-content;
              background-color: #F7F7F7;
              list-style-type: none;

              .menu-item {
                width: 100%;
              }
            }

            &:hover {
              > .sub-menu {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;

                .sub-menu {
                  top: 0;
                  right: 100%;
                }
              }
            }
          }
        }
      }

      .contact-mobile {
        display: none;
        text-align: center;
        button {
          border: 1px solid transparent;
          outline: 0;
          display: inline-block;
          padding: 10px 25px;
          margin-top: 40px;
          color: white;
          background-color: #{$primary};
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: white;
            color: #{$primary};
            border: 1px solid #{$primary};
          }
        }

        @media screen and (max-width: 767px) {
          display: block;
        }
      }

      @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        z-index: 999;
        background-color: #f7f7f7;

        opacity: 0;
        pointer-events: none;

        transition: 0.4s ease-out;

        &.is-active {
          opacity: 1;
          pointer-events: all;
        }

        .menu {
          flex-direction: column;
          

          .has-sub-menu {
            > .sub-menu {
              display: none;
              position: relative;

              .sub-menu {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
              }
            }

            &:hover {
              > .sub-menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}*/